<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="assets/img/favicon.png">

    <title>Fintech Society - University of Glasgow</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="assets/css/ionicons.min.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="assets/js/ie10-viewport-bug-workaround.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div id="h">
      <div class="logo"><img src="assets/img/thumb_logo128x128.png" height="50" width="50" alt="">UoG Fintech Society</div>
      <div class="social hidden-xs">
        <a href="https://www.twitter.com/UoGfintech" target="_blank"><i class="ion-social-twitter"></i></a>
        <a href="https://www.instagram.com/uogfintech" target="_blank"><i class="ion-social-instagram"></i></a>
        <a href="https://www.linkedin.com/company/uogfintech" target="_blank"><i class="ion-social-linkedin"></i></a>
        <a href="https://www.facebook.com/UoGfintech" target="_blank"><i class="ion-social-facebook"></i></a>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 centered">
            <h1>Welcome to our website.<br/>Subscribe now to our mailing list to receive all the latest news. No spam - we promise!</h1>
            <div id="form" class="mtb">
              <form id="email-form">
                <input id="email" type="email" name="email" class="subscribe-input" placeholder="Enter your e-mail address..." required>
                <button id="subscribe" class='btn btn-conf btn-green'>Subscribe</button>
              </form>
            </div>
            <div id="success" class="hide">
              <h2 id="subscribe-status">Thank you for subscribing to our mailing list!</h2>
              <img width="50px" src="assets/img/checked.png"></img>
            </div><!--/mt-->
          </div>
        </div><!--/row-->
      </div><!--/container-->
    </div><!-- /H -->

    <div class="container ptb">
      <div class="row">
        <div class="col-md-6">
          <h2>The first Fintech Society in Scotland!</h2>
          <p class="mt">The  FinTech  society  is  for  students of  ANY  degree  who  are interested  in  the  application  of  technological innovations  not  only  into  the  financial  sector,  but  also  well  beyond  finance.  The  society  aims  to  develop knowledge  of  FinTech-related  topics  (such  as  blockchain and  digital  currencies)  among  students,  and  gives  them opportunities  to  develop  useful  employability  skills  too. This  is  achieved  by  students'  cross-faculty  collaboration and engagement with industry professionals. </p>
        </div>
        <div class="col-md-6">
          <img src="assets/img/first_fintech_scotland.png" class="img-responsive mt" alt="">
        </div>
      </div><!--/row-->
    </div><!--/container-->

    <div id="sep">
      <div class="container">
        <div class="row centered">
          <div class="col-md-8 col-md-offset-2">
            <h1>Our Mission</h1>
            <h4>The FinTech society brings together University of Glasgow students interested in FinTech, aims to develop their knowledge via peer learning & industry engagement.</h4>

            <div id="plan">
              <hr />

            <h4>Here is our plan for the first semester but we are still working on it. Subscribe to get the latest updates and feel free to get in touch and suggest ideas! </h4>
            
            <div class="row centered">
              <div class="col-lg-4">
                <h4>21/09/2017<h4>
              </div>
              <div class="col-lg-8">
                <h4><b><a href="https://www.facebook.com/events/363897230696577/">Introductory meeting + “What is FinTech” Workshop</a></b></h4>
                <h5><a href="resources.html">Workshop Resources</a></h5>
              </div>
            </div>

            <div class="row centered">
              <div class="col-lg-4">
                <h4>25/10/2017<h4>
              </div>
              <div class="col-lg-8">
                <h4><b>Blockchain & Cryptocurrencies Workshop</b></h4>
              </div>
            </div>

            <div class="row centered">
              <div class="col-lg-4">
                <h4>Date not confirmed</h4>
                <h5>9/11/2017<h5>
              </div>
              <div class="col-lg-8">
                <h4><b>P2P lending and stock-trading apps Workshop</b></h4>
              </div>
            </div>

            <br />
            <br />
            </div>
          </div><!--/col-md-8-->
        </div>
      </div>
    </div><!--/sep-->

    <!-- Services -->
    <section id="services">
      <div class="container">
        <br />
        <br />
        <br />
        <div class="row">
          <div class="col-lg-12 text-center">
            <h1 class="section-heading">What will you gain from joining?</h1>
          </div>
        </div>
        <br />
        <br />
        <br />
        <div class="row text-center">
          <div class="col-md-4">
            <img src="assets/img/knowledge_thumb.png" width="128px" height="128px">
            <h2 class="service-heading">Knowledge</h2>
            <p class="text-muted">Knowledge of FinTech topics and key concepts such as Blockchain, cryptocurrencies, smart contracts and decentralized trading.</p>
          </div>
          <div class="col-md-4">
            <img src="assets/img/networking_thumb.png" width="128px" height="128px">
            <b><h2 class="service-heading">Networking</h2><b>
            <p class="text-muted">Opportunity to hear from industry experts and network with them.</p>
          </div>
          <div class="col-md-4">
            <img src="assets/img/skills_thumb.png" width="128px" height="128px">
            <h2 class="service-heading">Skills</h2>
            <p class="text-muted">Employability skills (problem solving, teamwork, presentation skills and many other)</p>
          </div>
        </div>
        <br />
        <br />
      </div>
    </section>

    <div id="g">
      <div class="container">
        <div class="row sponsor centered">
        <div>
          <h2> Want to become a member? Register here!</h2>
          </div>
          <br />
          <a href="https://goo.gl/JBc6bS"><button id="register" class='btn btn-conf btn-green'>Register for membership</button></a>
        </div><!--/row-->
      </div>
    </div><!--/g-->

    <div class="founding-members">
      <div class="container">
        <div class="row mt centered">
          <div class="col-lg-6 col-lg-offset-3">
            <h1>Founding Members<br/>Fintech Lovers.</h1>
          </div>
        </div><!-- /row -->
        
        <div class="row mt centered">
          <div class="col-lg-4">
            <img class="img-circle" src="assets/img/jan.jpg" width="140" alt="">
            <h4>Jan Jindra
               <span class="founding-members-links"> <a href="https://www.linkedin.com/in/janjindra1/" target="_blank"><i class="ion-social-linkedin"></i></a></span>
            </h4>
            <p>M.Sc. Quantitative Finance</p>
          </div><!--/col-lg-4 -->

          <div class="col-lg-4">
            <img class="img-circle" src="assets/img/nicholas.jpg" width="140" alt="">
            <h4>Nicholas Goetze
               <span class="founding-members-links"> <a href="https://www.linkedin.com/in/nicolas-goetze-400a32108/" target="_blank"><i class="ion-social-linkedin"></i></a></span>
            </h4>
            <p>B.Acc. Accounting and Finance</p>
          </div><!--/col-lg-4 -->

          <div class="col-lg-4">
            <img class="img-circle" src="assets/img/andreas.png" width="140" alt="">
            <h4>Andreas Pogiatzis
              <span class="founding-members-links"> <a href="https://www.linkedin.com/in/a-pogiatzis/" target="_blank"><i class="ion-social-linkedin"></i></a></span>
            </h4>
            <p>B.Sc. Software Engineering</p>
          </div><!--/col-lg-4 -->
        </div><!-- /row -->
        <br />
        <br />
      </div><!-- /container -->
    </div>
    

    <div id="f">
      <div class="container">
        <div class="row centered">
          <h2>You Can Contact Us</h2>
          <h5><a href="mailto:info@uogfintech.com">info@uogfintech.com</a></h5>

          <p class="mt">
            <a href="https://www.twitter.com/UoGfintech" target="_blank"><i class="ion-social-twitter"></i></a>
            <a href="https://www.instagram.com/uogfintech" target="_blank"><i class="ion-social-instagram"></i></a>
            <a href="https://www.linkedin.com/company/uogfintech" target="_blank"><i class="ion-social-linkedin"></i></a>
            <a href="https://www.facebook.com/UoGfintech" target="_blank"><i class="ion-social-facebook"></i></a>
          </p>
          <h6 class="mt">COPYRIGHT 2017 - Fintech Society</h6>
        </div><!--/row-->
      </div><!--/container-->
    </div><!--/F-->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/retina-1.1.0.js"></script>
    <script src="assets/scripts/subscribe.js"></script>
    <script src="assets/js/agency.js"></script>
  </body>
</html>
