<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="assets/img/favicon.png">

    <title>Fintech Society - University of Glasgow</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="assets/css/ionicons.min.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="assets/js/ie10-viewport-bug-workaround.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

      <header>
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <div class="logo"><img src="assets/img/thumb_logo128x128.png" height="50" width="50" alt="">UoG Fintech Society</div>
            </div>
    
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav menu-items">
                  <li><a class="menu-item" href="http://uogfintech.com">Home <span class="sr-only"></span></a></li>
                  <li><a class="menu-item" href="http://uogfintech.com/team.html">Our Team</a></li>
                  <li><a class="menu-item" href="http://uogfintech.com/aftp.html">AFTP</a></li>              
                  <li><a class="menu-item" href="http://uogfintech.com/resources.html">Resources</a></li>
              </ul>
  
              
              <div class="social hidden-xs nav navbar-nav navbar-right">
                <a href="https://www.twitter.com/UoGfintech" target="_blank"><i class="ion-social-twitter"></i></a>
                <a href="https://www.instagram.com/uogfintech" target="_blank"><i class="ion-social-instagram"></i></a>
                <a href="https://www.linkedin.com/company/uogfintech" target="_blank"><i class="ion-social-linkedin"></i></a>
                <a href="https://www.facebook.com/UoGfintech" target="_blank"><i class="ion-social-facebook"></i></a>
              </div>
              
            </div>
          </div>
        </nav>
      </header>

    <div class="container ptb">
        <div class="row">
          <br />

          <div class="col-lg-8 col-sm-10 col-xs-12 col-centered">
            
            <h2> Did you miss a workshop? Are you looking for fintech resources? <span class="bold-colored">This page is for you!</span> Here you can find all past workshop files but also addional resources to assist you with your Fintech journey.</h2>

          </div>

          <br />
        </div>
    </div>

    <div class="darker-bg">
      <div class="container">
        <div class="row">
          <br />

          <div class="col-lg-8 col-sm-10 col-xs-12 col-centered">
            
            <h3 class="bold"> Introductory meeting + “What is FinTech” Workshop </h3>
            <h6> 21/9/2017 </h6>
            <div class="tiles">

              <div class="row">
                <div class="col-md-4 col-sm-6">
                  <div class="a">
                    <a href="assets/resources/fintech_2192017_report.pdf">
                      <img src="assets/img/2192017_report_thumb.png" class="img-responsive" alt="Responsive image">
                      <div class="img-hover yellow">
                        <div class="c-table">
                          <div class="ct-cell container">
                            <h3 class="img-title">Report</h3>
                            <h5 class=".img-subtitle">Our report from the introductory meeting and notes from the presentation.</h5>
                            <span class="glyphicon glyphicon-download-alt"></span>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>

                 <div class="col-md-4 col-sm-6">
                  <div class="a">
                    <a href="assets/resources/fintech_2192017_presentation.pdf">
                      <img src="assets/img/2192017_presentation_thumb.png" class="img-responsive" alt="Responsive image">
                      <div class="img-hover yellow">
                        <div class="c-table">
                          <div class="ct-cell container">
                            <h4 class="img-title">Presentation</h4>
                            <h5 class=".img-subtitle">These are the presentation slides of the workshop.</h5>
                            <span class="glyphicon glyphicon-download-alt"></span>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>

          </div>

         
        </div>

        <br />
      </div>
    </div>
    </div>

    <div >
      <div class="container">
        <div class="row">
          <br />

          <div class="col-lg-8 col-sm-10 col-xs-12 col-centered">
            
            <h3 class="bold"> Blockchain and Cryptocurrencies Workshop </h3>
            <h6> 25/10/2017 </h6>
            <div class="tiles">

              <div class="row">
                <div class="col-md-4 col-sm-6">
                  <div class="a">
                    <a href="assets/resources/fintech_25102017_report.pdf">
                      <img src="assets/img/25102017_report_thumb.png" class="img-responsive" alt="Responsive image">
                      <div class="img-hover yellow">
                        <div class="c-table">
                          <div class="ct-cell container">
                            <h3 class="img-title">Report</h3>
                            <h5 class=".img-subtitle">Our report from the workshop and notes from the presentation.</h5>
                            <span class="glyphicon glyphicon-download-alt"></span>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>

                 <div class="col-md-4 col-sm-6">
                  <div class="a">
                    <a href="assets/resources/fintech_25102017_presentation.pptx">
                      <img src="assets/img/25102017_presentation_thumb.png" class="img-responsive" alt="Responsive image">
                      <div class="img-hover yellow">
                        <div class="c-table">
                          <div class="ct-cell container">
                            <h4 class="img-title">Presentation</h4>
                            <h5 class=".img-subtitle">These are the presentation slides of the workshop.</h5>
                            <span class="glyphicon glyphicon-download-alt"></span>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>

              <h3><a href="https://lectures.gla.ac.uk/ess/portal/section/b71d528a-6402-485a-8aaf-ff3c32037bf0">Watch the workshop online here!</a></h3>              
              <h4>Use your GUID student credentials to login.</h4>   
          </div>

          

        </div>

        <br />
      </div>
    </div>
    </div>

    <div class="darker-bg">
      <div class="container">
        <div class="row">
          <br />

          <div class="col-lg-8 col-sm-10 col-xs-12 col-centered">
            
            <h3 class="bold"> P2P lending and stock-trading apps Workshop </h3>
            <h6> 21/11/2017 </h6>
            <div class="tiles">

              <div class="row">
                <div class="col-md-4 col-sm-6">
                  <div class="a">
                    <a href="assets/resources/fintech_21112017_report.pdf">
                      <img src="assets/img/21112017_report_thumb.png" class="img-responsive" alt="Responsive image">
                      <div class="img-hover yellow">
                        <div class="c-table">
                          <div class="ct-cell container">
                            <h3 class="img-title">Report</h3>
                            <h5 class=".img-subtitle">Our report from the workshop and notes from the presentation.</h5>
                            <span class="glyphicon glyphicon-download-alt"></span>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>

                 <div class="col-md-4 col-sm-6">
                  <div class="a">
                    <a href="assets/resources/fintech_21112017_presentation.pptx">
                      <img src="assets/img/21112017_presentation_thumb.png" class="img-responsive" alt="Responsive image">
                      <div class="img-hover yellow">
                        <div class="c-table">
                          <div class="ct-cell container">
                            <h4 class="img-title">Presentation</h4>
                            <h5 class=".img-subtitle">These are the presentation slides of the workshop.</h5>
                            <span class="glyphicon glyphicon-download-alt"></span>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>

          </div>

         
        </div>

        <br />
      </div>
    </div>
    </div>

    <div >
      <div class="container">
        <div class="row">
          <br />

          <div class="col-lg-8 col-sm-10 col-xs-12 col-centered">
            
            <h3 class="bold"> Artificial Intelligence Workshop </h3>
            <h6> 15/02/2018 </h6>
            <div class="tiles">

              <div class="row">
                <div class="col-md-4 col-sm-6">
                  <div class="a">
                    <a href="assets/resources/fintech_15022018_report.pdf">
                      <img src="assets/img/15022018_report_thumb.png" class="img-responsive" alt="Responsive image">
                      <div class="img-hover yellow">
                        <div class="c-table">
                          <div class="ct-cell container">
                            <h3 class="img-title">Report</h3>
                            <h5 class=".img-subtitle">Our report from the workshop and notes from the presentation.</h5>
                            <span class="glyphicon glyphicon-download-alt"></span>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>

                 <div class="col-md-4 col-sm-6">
                  <div class="a">
                    <a href="assets/resources/fintech_15022018_presentation.pptx">
                      <img src="assets/img/15022018_presentation_thumb.png" class="img-responsive" alt="Responsive image">
                      <div class="img-hover yellow">
                        <div class="c-table">
                          <div class="ct-cell container">
                            <h4 class="img-title">Presentation</h4>
                            <h5 class=".img-subtitle">These are the presentation slides of the workshop.</h5>
                            <span class="glyphicon glyphicon-download-alt"></span>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div> 
          </div>

          

        </div>

        <br />
      </div>
    </div>
    </div>

    <div id="f">
      <div class="container">
        <div class="row centered">
          <h2>You Can Contact Us</h2>
          <h5><a href="mailto:info@uogfintech.com">info@uogfintech.com</a></h5>

          <p class="mt">
            <a href="https://www.twitter.com/UoGfintech" target="_blank"><i class="ion-social-twitter"></i></a>
            <a href="https://www.instagram.com/uogfintech" target="_blank"><i class="ion-social-instagram"></i></a>
            <a href="https://www.linkedin.com/company/uogfintech" target="_blank"><i class="ion-social-linkedin"></i></a>
            <a href="https://www.facebook.com/UoGfintech" target="_blank"><i class="ion-social-facebook"></i></a>
          </p>
          <h6 class="mt">COPYRIGHT 2017 - Fintech Society</h6>
        </div><!--/row-->
      </div><!--/container-->
    </div><!--/F-->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
  </body>
</html>
