<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="assets/img/favicon.png">

    <title>Fintech Society - University of Glasgow</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="assets/css/ionicons.min.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="assets/js/ie10-viewport-bug-workaround.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <header>
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <div class="logo"><img src="assets/img/thumb_logo128x128.png" height="50" width="50" alt="">UoG Fintech Society</div>
          </div>
  
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav menu-items">
                <li><a class="menu-item" href="http://uogfintech.com">Home <span class="sr-only"></span></a></li>
                <li><a class="menu-item" href="http://uogfintech.com/team.html">Our Team</a></li>
                <li><a class="menu-item" href="http://uogfintech.com/aftp.html">AFTP</a></li>              
                <li><a class="menu-item" href="http://uogfintech.com/resources.html">Resources</a></li>
            </ul>

           
            <div class="social hidden-xs nav navbar-nav navbar-right">
              <a href="https://www.twitter.com/UoGfintech" target="_blank"><i class="ion-social-twitter"></i></a>
              <a href="https://www.instagram.com/uogfintech" target="_blank"><i class="ion-social-instagram"></i></a>
              <a href="https://www.linkedin.com/company/uogfintech" target="_blank"><i class="ion-social-linkedin"></i></a>
              <a href="https://www.facebook.com/UoGfintech" target="_blank"><i class="ion-social-facebook"></i></a>
            </div>
            
          </div>
        </div>
      </nav>
    </header>

    
    <div id="team-section" class="container ptb">
        <section>
            <div class="container">
                <div class="row flex-center sm-no-flex">
        
                    <div class="pull-right sm-no-float col-md-8">
                        <ul class="team-members">
                            <!-- single member row starts -->
                            <li class="clearfix">
                                <div class="member-details">
                                    <div>
                                        <img src="assets/img/jan.png" alt="President">
                                        <a href="https://www.linkedin.com/in/janjindra1/">
                                            <div class="member-info">    
                                                <h3>Jan</h3>
                                                <p>President</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                
                                <div class="member-details">
                                    <div>
                                        <img src="assets/img/antreas.png" alt="Vice President">
                                        <a href="https://www.linkedin.com/in/a-pogiatzis/">
                                            <div class="member-info">
                                                <h3>Antreas</h3>
                                                <p>Vice President</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                
                                <div class="member-details">
                                    <div>
                                        <img src="assets/img/kamal.png"  alt="Vice President">
                                        <a href="https://www.linkedin.com/in/kamal-chauhan-12538798/">
                                            <div class="member-info">
                                                <h3>Kamal</h3>
                                                <p>Vice President</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </li><!-- /single member row ends -->
                            
                            <!-- single member row starts -->
                            <li class="clearfix">
                                <div class="member-details">
                                    <div>
                                        <img src="assets/img/thao.png" alt="Secretary">
                                        <a href="https://www.linkedin.com/in/hathanhthao/">
                                            <div class="member-info">
                                                <h3>Thao</h3>
                                                <p>Secretary</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                
                                <div class="member-details">
                                    <div>
                                        <img src="assets/img/zoe.png" alt="Corp Relations">
                                        <a href="https://www.linkedin.com/in/zoebalek/">
                                            <div class="member-info">
                                                <h3>Zoe</h3>
                                                <p>Corp Relations</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                
                                <div class="member-details">
                                    <div>
                                        <img src="assets/img/andrea.png" alt="Marketing">
                                        <a href="https://www.linkedin.com/in/andreea-cristina-musat-691b81150/">
                                            <div class="member-info">
                                                <h3>Andreea</h3>
                                                <p>Marketing</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </li><!-- /single member row ends -->
        
                            <!-- single member row starts -->
                            <li class="clearfix">
                                <div class="member-details">
                                    <div>
                                        <img src="assets/img/romi.png" alt="Treasurer">
                                        <div class="member-info">
                                            <h3>Romi</h3>
                                            <p>Treasurer</p>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="member-details">
                                    <div>
                                        <img src="assets/img/dina.png" alt="Marketing">
                                        <div class="member-info">
                                            <h3>Dina</h3>
                                            <p>Marketing</p>
                                        </div>
                                    </div>
                                </div>
                                
                                <!-- <div class="member-details">
                                    <div>
                                        <img src="http://gocheckers.com/images/roster/josh_wesley_headshot_1718.png" alt="UI Designer">
                                        <div class="member-info">
                                            <h3>John Doe</h3>
                                            <p>UI Designer</p>
                                        </div>
                                    </div>
                                </div> -->
                            </li><!-- /single member row ends -->
        
                        </ul><!-- /end team-photos -->
                    </div><!-- /end col-md-8 -->
                    
                    <div class="pull-left col-md-4 sm-text-center">
                        <div>
                            <h2>Meet the board!</h2>
                            <p><div>Society's board consists of passionate ambitious students of the University of Glasgow aiming to ensure the
                                smooth operation of the society. </div></p>
                        </div>
                    </div><!-- /end col-md-4 -->
                </div><!-- /end row -->
            </div><!-- /end container -->
        </section>
        
    
    </div><!--/container-->

    <div class="darker-bg">
        <div class="container">
            <h2>Our amazing workshop teams.</h2>
          <div class="row">
            <br />
  
            <div class="col-12">
                <div class="row">
                  <div class="col-md-6 col-sm-6">
                    <img class="wshop-photo" src="assets/img/wshop1.jpeg" alt="UI Designer">
                  </div>
  
                   <div class="col-md-6 col-sm-6">
                        <h3>Blockchain and Cryptocurrencies workshop</h3>
                        <p class="mt"> The workshop team made an exceptional work providing easy to understand explanations on fundemental concepts around
                            blockchain and cryptocurrencies. Namely, these include blockchain functionality, cryptography, smart contracts, ERC20 tokens, ICOs and regulations. Also an amazing speech
                            was given around the big picture of blockchain by Mr. Dug Campbell
                         The official report and presentation can be found in the resources section.  </p>
                  </div>
                </div>
            </div>
          </div>

          <div class="row">
                <br />
        
                <div class="col-12">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <h3>P2P Lending and Stock trading apps</h3>
                            <p class="mt"> P2P Lending and stock trading apps are a trending topic nowadays. The workshop team did an amazing job giving the background
                                history, explaining the regulatory framework and illustrating the advantages and disadvantages around these topics. The workshop concluded by an
                            extremely interesting speech around Fintech security by Dr. Greg Paul.   </p>
                        </div>
        
                        <div class="col-md-6 col-sm-6">
                            <img class="wshop-photo" src="assets/img/wshop2.jpeg" alt="UI Designer">
                        </div>
                        
                    </div>
                </div>
            </div>
            
          <br />
        </div>

    </div>


    <div id="f">
      <div class="container">
        <div class="row centered">
          <h2>You Can Contact Us</h2>
          <h5><a href="mailto:info@uogfintech.com">info@uogfintech.com</a></h5>

          <p class="mt">
            <a href="https://www.twitter.com/UoGfintech" target="_blank"><i class="ion-social-twitter"></i></a>
            <a href="https://www.instagram.com/uogfintech" target="_blank"><i class="ion-social-instagram"></i></a>
            <a href="https://www.linkedin.com/company/uogfintech" target="_blank"><i class="ion-social-linkedin"></i></a>
            <a href="https://www.facebook.com/UoGfintech" target="_blank"><i class="ion-social-facebook"></i></a>
          </p>
          <h6 class="mt">COPYRIGHT 2017 - Fintech Society</h6>
        </div><!--/row-->
      </div><!--/container-->
    </div><!--/F-->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/retina-1.1.0.js"></script>
    <script src="assets/scripts/subscribe.js"></script>
    <script src="assets/js/agency.js"></script>
  </body>
</html>
